[Unit]
Description=Fake S3
After=syslog.target network.target

[Service]
Type=simple
ExecStart={{ ansible_env.GEM_HOME }}/bin/fakes3 -r {{ fakes3_root }} -p 4567
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target

